<!-- About Section -->
    <!-- <section class="success" id="about"> -->
    <section id="about">
        <div class="container">
            <div class="row">
                <!-- <div class="col-lg-12 text-center"> -->
                <div class="col-lg-12 text-center">
                    <div class="text-center">
                    <h2>Publications</h2>
                    </div>
                    <!-- <hr class="star-light"> -->
                    <!-- <hr class="star-primary"> -->
                    <div class="intro-text text-left"> 
                        <p>&#x25cf; Sangeeth Kochanthara, Yanja Dajsuren, Loek Cleophas, Mark van den Brand. “Painting the Landscape of Automotive Software in GitHub”. In International Conference on Mining Software Repositories (<strong>MSR‘22</strong>) - One of the <strong>5</strong> papers invited for EMSE journal extension</p>
                        <p>&#x25cf; Sangeeth Kochanthara, Niels Rood, Arash K. Saberi, Loek Cleophas, Yanja Dajsuren, Mark van den Brand. “A Functional Safety Assessment Method for Cooperative Automotive Architecture”. 
                        In Journal of Systems and Software (JSS‘21) In European Conference on Software Architecture (ECSA‘21) - 
                        Journal first track Invited to Journal first track in IEEE International Conference on Software Architecture (ICSA‘22)</p>
                        </div>
                    </div>
          <!--           <div class="entry-content">
                       <ul>
                          <li>lipsum</li>
                          <li>lipsum</li>
                          <li>lipsum</li>
                        </ul>
                      </div> -->
                </div>
            </div>
        </div>
    </section>