<!-- About Section -->
    <!-- <section class="success" id="about"> -->
    <section id="about">
        <div class="container">
            <div class="row">
                <!-- <div class="col-lg-12 text-center"> -->
                <div class="col-lg-12 text-center">
                    <div class="text-center">
                    <h2>Publications</h2>
                    </div>
                    <!-- <hr class="star-light"> -->
                    <!-- <hr class="star-primary"> -->
                    <div class="intro-text text-left"> 
                        <p>&#x25cf; Sangeeth Kochanthara, Yanja Dajsuren, Loek Cleophas, Mark van den Brand. “Painting the Landscape of Automotive Software in GitHub”. In International Conference on Mining Software Repositories (<strong>MSR‘22</strong>) - One of the <strong>5</strong> papers invited for journal extension</p>
                        <p>&#x25cf; Sangeeth Kochanthara, Niels Rood, Arash K. Saberi, Loek Cleophas, Yanja Dajsuren, Mark van den Brand. “A Functional Safety Assessment Method for Cooperative Automotive Architecture”. 
                        In Journal of Systems and Software (<strong>JSS‘21</strong>) <br>
                        In European Conference on Software Architecture (<strong>ECSA‘21</strong>) - 
                        Journal first track <br>
                        Invited to Journal first track in IEEE International Conference on Software Architecture (</strong>ICSA‘22</strong>)</p>
                        <p>&#x25cf;Sangeeth Kochanthara, Niels Rood, Loek Cleophas, Yanja Dajsuren, Mark van den Brand. “Semi-automatic Architectural Suggestions for the Functional Safety of Cooperative Driving Systems”. In IEEE International Conference on Software Architecture (<strong>ICSA'20</strong>) - New and Emerging Ideas track</p>
                        <p>&#x25cf;Sangeeth Kochanthara, Geoffrey Nellisen, David Periera, Rahul Purandare. “REVERT: Runtime Verification for Real-Time Systems”. In IEEE Real-Time Systems Symposium (<strong>RTSS'16</strong>) - Work-In-Progress track.</p>
                        <p>&#x25cf;Sangeeth Kochanthara, Geoffrey Nellisen, David Periera, Rahul Purandare. “REVERT: A Monitor Generation Tool for Real-Time Systems”. In IEEE Real-Time Systems Symposium (<strong>RTSS'16</strong>) - Tool Demonstration track.</p>
                        <div class="text-center">
                        </div>
                    </div>
          <!--           <div class="entry-content">
                       <ul>
                          <li>lipsum</li>
                          <li>lipsum</li>
                          <li>lipsum</li>
                        </ul>
                      </div> -->
                </div>
            </div>
        </div>
    </section>