<!-- About Section -->
    <!-- <section class="success" id="about"> -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Publications</h2>
                    <!-- <hr class="star-light"> -->
                    <hr class="star-primary">
                    <div class="intro-text">
                        <p>&#9642; We listen to the other person without interruption and practice effective listening skills.</p>
                        <p>&#x2022; We do not shy away from challenges</p>
                        <p>&#9642; We stay true to our slogan</p>
                                    <ul>
                                      <li>lipsum</li>
                                      <li>lipsum</li>
                                      <li>lipsum</li>
                                    </ul>
                        </div>
                    </div>
          <!--           <div class="entry-content">
                       <ul>
                          <li>lipsum</li>
                          <li>lipsum</li>
                          <li>lipsum</li>
                        </ul>
                      </div> -->
                </div>
            </div>
        </div>
    </section>