<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="modal-body row">
              <div class="col-md-6">
                <img class="img-responsive" src="img/profile.png" alt="">
                 <div class="intro-text">
                  <span class="skills">{{ site.description }}</span>  
                 </div>
                 <!-- <div class="row">
                            <div class="form-group col-xs-12"> -->
                                <!-- <button type="submit" class="btn btn-success btn-lg">CV</button> -->
                                <button type="submit" class="btn-dark btn-success btn-lg">CV</button>
                                <button type="submit" class="btn-dark btn-success">CV2</button>
                                <button type="submit" class="btn-dark">CV3</button>
                                 <button type="submit" class="btn btn-success btn-lg">Hire Me<i class="fa fa-fw fa-envelope"></i></button>
               <!--              </div>
                 </div> -->

              </div>
              <div class="col-md-6">
                    <div class="intro-text">
                    <!--  <span class="name">{{ site.title }}</span>
                        <!-- <span class="name">{{  "testing the description part" }}</span> 
                        <hr class="star-light"> -->
                        <div class="container d-flex h-100">
                            <!-- <div class="row justify-content-center align-self-center"> -->
                            <!-- <div class="row justify-content-center align-self-center"> -->
                                <span class="skills">{{"I am a Ph.D candidate at TU Eindhoven. My research interests are ..... Add info -  What I am most passionate about; What I am most proud about (Gold medal masters); What kind of research I do"}}</span>
                           <!--  </div> -->
                        </div>
                    </div>
                    <ul class="list-inline">
                        {% if site.facebook_username %}
                        <li>
                            <a href="https://www.facebook.com/{{ site.facebook_username }}" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        {% endif %}
                        {% if site.twitter_username %}
                        <li>
                            <a href="https://twitter.com/{{ site.twitter_username }}" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        {% endif %}
                        {% if site.github_username %}
                        <li>
                            <a href="https://github.com/{{ site.github_username }}" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                        </li>
                        {% endif %}
                        {% if site.instagram_username %}
                        <li>
                            <a href="https://www.instagram.com/{{ site.instagram_username }}" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                        </li>
                        {% endif %}
                        {% if site.stackoverflow_url %}
                        <li>
                            <a href="{{ site.stackoverflow_url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-stack-overflow"></i></a>
                        </li>
                        {% endif %}
                        {% if site.googleplus_username %}
                        <li>
                            <a href="https://plus.google.com/+{{ site.googleplus_username }}" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        {% endif %}
                        {% if site.skype_username %}
                        <li>
                            <a href="skype:{{ site.skype_username }}?call" class="btn-social btn-outline"><i class="fa fa-fw fa-skype"></i></a>
                        </li>
                        {% endif %}
                        {% if site.linkedin_url %}
                        <li>
                            <a href="{{ site.linkedin_url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                        {% endif %}
                    </ul>
              </div>
            </div>
        </div>
    </div>
</header>


<!-- Previous version -->
<!-- <header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/profile.png" alt="">
                <div class="intro-text">
                    <span class="name">{{ site.title }}</span>
                    <hr class="star-light">
                    <span class="skills">{{ site.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header> -->




